[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
selenium = "*"
webdriver-manager = "*"
date-extractor = "*"
alive-progress = "*"
pandas = "*"
bs4 = "*"
scrapy-splash = "*"

[dev-packages]

[requires]
python_version = "3.9"
